<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /*这是css的注释格式*/
    </style>
    <!--javascript可以存放于两个位置,一是head标签的尾部,二是body标签的尾部,
    推荐放在body标签的尾部(html解析类似python从上到下,放在后面放置动态效果淹没主要内容-->
</head>
<body>
<!--javascript代码可以直接在html中编写,也可以写在单独的xxx.js文件中然后导入到html文件中-->
<script type="text/javascript">
    // 这是javascript的注释格式

    /* var name = "这是一个测试";
     var number = name.length;
     var x = name[0];
     var y = name.substring(1, 2);
     console.log(name);
     console.log(x);
     console.log(y);
     console.log(number);*/

    /*var v1 = [1, 2, 3, 4, 5];
    console.log(v1[0]);
    v1[0] = 10;
    console.log(v1[0]);
    v1.push("这是一个字符串");
    v1.unshift("这是一个字符串");
    console.log(v1);
    v1.splice(3, 0, "这是一个字符串");
    console.log(v1);
    v1.pop();
    console.log(v1);
    v1.shift();
    console.log(v1);
    v1.splice(2, 1);
    console.log(v1);
    for (var i = 0; i < v1.length; i++) {
        console.log(v1[i]);
    }*/

    /*js也支持字典(在js中叫做对象),与python类似,操作方式也类似,
    通过列表套字典方式获取http请求是常见的方式,这里不再列举*/

    /*js也支持if else 格式类似c和java;js支持函数,格式类似c*/

    /*js提供内置的DOM类(document object class),用于和html标签进行交互,
    详情见txtscroll.html(跑马灯),gettxt.html(通过http请求返回数据),getinput(获取用户输入)*/

</script>
</body>
</html>